@font-face {
  font-family: "iconfont"; /* Project id 2742098 */
  src: url('iconfont.woff2?t=1628820263283') format('woff2'),
       url('iconfont.woff?t=1628820263283') format('woff'),
       url('iconfont.ttf?t=1628820263283') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home-g:before {
  content: "\e646";
}

.icon-tuichu:before {
  content: "\e61a";
}

.icon-gerenzhongxin:before {
  content: "\e62a";
}

.icon-16:before {
  content: "\e615";
}

.icon-pinglun:before {
  content: "\e790";
}

